<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:include filename="macros.xacro"/> 

    <!-- Base link, true, non-relative 0,0,0 of world -->
    <link name="world"></link>


    <joint name="world-to-base" type="fixed">
        <!-- The base of the arm is at 0,0,0 -->
        <origin xyz="0.5 0.5 0" rpy="0 0 0"/>
        <!-- subordinate joing to the world -->
        <parent link="world"/>
        <!-- the 'child' link, or next in heirarchy -->
        <child link="base"/>
    </joint>


    <!-- the "Base" of the robotic arm -->
    <xacro:property name="base_x" value="2"/>
    <xacro:property name="base_y" value="2"/>
    <xacro:property name="base_z" value="1.5"/>
    <xacro:property name="base_dimensions" value="${base_x} ${base_y} ${base_z}"/>
    <xacro:property name="base_origin" value="0 0 0.75"/>
    <link name="base">
        <visual>
            <origin xyz="${base_origin}"/>
            <geometry>
                <box size="${base_dimensions}"/>
            </geometry>
            <material name="cyan"/>
        </visual>
        <collision>
            <origin xyz="${base_origin}"/>
            <geometry>
                <box size="${base_dimensions}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="2" x="${base_x}" y="${base_y}"  z="${base_z}">
            <origin xyz="${base_origin}"/>
        </xacro:inertial_box>

    </link>


    
    <!-- TODO Should really come up with a better name for this part... -->
    <!-- Represents the 'circle' piece that sits above the base of the robot arm -->
    <xacro:property name="circle_height" value="0.125"/>
    <xacro:property name="circle_radius" value="0.75"/>
    <!-- TODO this should probably be different? not the cleanest way to do it -->
    <xacro:property name="circle_origin" value="0 0 0.0625"/>
    
    <link name="circle">
        <visual>
            <!-- start slightly offset, so link is at base of cylinder -->
            <origin xyz="${circle_origin}" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${circle_radius}" length="${circle_height}"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <!-- start slightly offset, so link is at base of cylinder -->
            <origin xyz="${circle_origin}" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="${circle_radius}" length="${circle_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="${circle_height}" radius="${circle_radius}">
            <origin xyz="${circle_origin}"/>
        </xacro:inertial_cylinder>
    </link>

    <joint name="circle-to-s0" type="fixed">
        <parent link="circle"/>
        <child link="s0"/>
        <origin xyz="0 0 0.0625"/>
    </joint>


    <!-- The first real "arm" servo, may want to be +1 instead but will have to update servo code?-->
    <xacro:microServo parent="base" child="circle" origin="0 0 1.5" axis="0 0 1"/>
    <xacro:microServo parent="s0" child="s1" origin="0 0 0.25" axis="0 -1 0"/>
    <xacro:microServo parent="s1" child="s2" origin="0 0 3" axis="0 -1 0"/>
    <xacro:microServo parent="s2" child="s3" origin="0 0 3" axis="0 -1 0"/>
    <xacro:microServo parent="s3" child="grip_stick" origin="0 0 3" axis="0 0 1"/>


    <!-- representation of base of the arm --> 
    <!-- between the circle and first real arm segment s1 -->
    <xacro:property name="s0_origin" value="0 0 0.25"/>
    <xacro:property name="s0xLen" value="0.5"/>
    <xacro:property name="s0yLen" value="1.25"/>
    <xacro:property name="s0zLen" value="0.5"/>
    <link name="s0">
        <visual>
            <origin xyz="${s0_origin}"/>
            <geometry> <box size="${s0xLen} ${s0yLen} ${s0zLen}"/> </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="${s0_origin}"/>
            <geometry> <box size="${s0xLen} ${s0yLen} ${s0zLen}"/> </geometry>
        </collision>
        <xacro:inertial_box mass="0.1" x="${s0xLen}" y="${s0yLen}" z="${s0zLen}">
            <origin xyz="${s0_origin}"/>
        </xacro:inertial_box>
    </link>


    <xacro:arm-segment number="1" origin="0 0 1.5" x="0.5" y="1.25" z="3" material="white"/>
    <xacro:arm-segment number="2" origin="0 0 1.5" x="0.5" y="1.25" z="3" material="red"/>
    <xacro:arm-segment number="3" origin="0 0 1.5" x="0.5" y="1.25" z="3" material="blue"/>


    <xacro:property name="grip_stick_height" value="1"/>
    <xacro:property name="grip_stick_radius" value="0.075"/>
    <xacro:property name="grip_stick_origin" value="0 0.5 0.125"/> 
    <xacro:property name="grip_stick_rpy" value="1.572 0 0"/> 

    <link name="grip_stick">
        <visual>
            <origin xyz="${grip_stick_origin}" rpy="${grip_stick_rpy}"/>  <!-- 'grip sticks' radius is offset -->
            <geometry> 
                <cylinder length="${grip_stick_height}" radius="${grip_stick_radius}"/> 
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="${grip_stick_origin}" rpy="${grip_stick_rpy}"/>  <!-- 'grip sticks' radius is offset -->
            <geometry>
                <cylinder length="${grip_stick_height}" radius="${grip_stick_radius}"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.25" length="${grip_stick_height}" radius="${grip_stick_radius}">
            <origin xyz="${grip_stick_origin}" rpy="${grip_stick_rpy}"/>  <!-- 'grip sticks' radius is offset -->
        </xacro:inertial_cylinder>

    </link>

    <!-- Link in gazebo file, which contains all of hte gazebo related things -->
    <xacro:include filename="gazebo.xacro"/> 

</robot>
